
   <div id="header">
      <div id="menu">
        <ul>
          <li>Listado de partidos</li>
        </ul>
      </div>
   </div>

    <table>
      <tr>
        <th>Fecha</th>
        <th>Parejas</th>
        <th>Set 1</th>
        <th>Set 2</th>
        <th>Set 3</th>
        <th>Observaciones</th>
      </tr>

    <% for match in @matches %>
      <tr>
        <td rowspan="2"><%=h match.fecha.strftime("%d-%m-%Y") %>
        <td><%= Player.find_all_by_id_par(match.id_par1).collect{ |p| p.name + " " }.join(" - ") %> </td>
        <td><%=h match.set1_par1 %></td>
        <td><%=h match.set2_par1 %></td>
        <td><%=h match.set3_par1 %></td>
        <td rowspan="2"><%=h match.observaciones %></td>
        <td rowspan="2"><%= link_to 'Mostrar', match %></td>
        <td rowspan="2"><%= link_to 'Editar', edit_match_path(match) %></td>
        <td rowspan="2"><%= link_to 'Borrar', match, :confirm => '¿Estas seguro?', :method => :delete %></td>
      </tr>
      <tr>
        <td><%= Player.find_all_by_id_par(match.id_par2).collect{ |p| p.name + " " }.join(" - ") %> </td>
        <td><%=h match.set1_par2 %></td>
        <td><%=h match.set2_par2 %></td>
        <td><%=h match.set3_par2 %></td>
      </tr>
    <% end %>
    </table>

   <div id="header">
      <div id="menu">
          <ul>
              <li class="current_page_item"><a href="/">Inicio</a></li>
              <li><%= link_to 'Nuevo partido', new_match_path %></li>
          </ul>
      </div>
  </div>